.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero h1{
    text-align: center;
    width: 70%;
    font-size: 60px;
    font-weight: 600;
    margin-top: 150px;
}

.hero p{
    width: 50%;
    text-align: 24px;
    font-size: 20px;
    line-height: 40px;
}

.hero-action{
    display:flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-resume{
    padding: 25px 50px;
    border-radius: 30px;
    border: 2px solid #fff;
    cursor: pointer;
}

.hero-resume a{
    color: #4fb3ff;
}
/* .hero h1 span{
    background: linear-gradient(270deg, #b415ff 10%, #7c66e3 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */